:host {
  display: block;
}

li.ticket {
  padding: 0.75em;
  .description {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 0.5em;
  }
}

input.description {
  min-width: 20em;
}

.new-ticket:not([disabled]) {
  background-color: green;
  color: white;
}

.active {
  background-color: blue;
  color: white;
}