<h2>Tickets</h2>
<ng-container *ngIf="{
    loadingTickets: loadingTickets$|async,
    onlyUncompleted: onlyUncompleted$|async,
    creatingTicket: creatingTicket$|async
  } as $">

  <ul *ngIf="!$.loadingTickets else loading">
    <ng-container *ngFor="let t of tickets$|async">
      <li
          *ngIf="!$.onlyUncompleted || !t.completed"
          class="ticket pointer"
          [routerLink]="['ticket',t.id]"
      >
        <span class="description">
          {{t.description}}
          <span class="ml" *ngIf="t.completed">✅</span>
        </span>
      </li>
    </ng-container>
  </ul>

  <ng-template #loading>
    <div>... (I'm a spinner)</div>
  </ng-template>

  <div class="mv">
    <input type="text" #description class="description">
    <button
        type="button"
        class="ml new-ticket"
        (click)="addTicket(description.value);description.value=''"
        [disabled]="$.creatingTicket || $.loadingTickets">
      Add Ticket
    </button>
  </div>
  
  <div class="mv">
    <button type="button" [ngClass]="{'active': $.onlyUncompleted}" (click)="toggleFilter()">Hide completed</button>
  </div>
</ng-container>