:host {
  display: block;
}

.description {
  input {
    min-width: 20em;
    padding: 0.25em;
    margin-right: 1em;
  }
}

.edit-mode {
  margin-left: 0.5em;
}

.completed {
  background-color: green;
  color: white;
}

