<div *ngIf="state$|async as $">
  <ng-container *ngIf="$.ticket else loading">
    <h2>Ticket</h2>
    <div class="mv description">
      <ng-container *ngIf="$.editMode else printDescription">
        <input type="text" #description [attr.value]="$.ticket.description"/>
        <button type="button" (click)="updateDescription(description.value)" [disabled]="$.updatingTicket">Save</button>
      </ng-container>

      <ng-template #printDescription>{{$.ticket.description}}</ng-template>
      <button class="edit-mode" type="button" (click)="toggleEdit()">Edit</button>
    </div>

    <div class="mv">
      <button
          [ngClass]="{'completed': $.ticket.completed}"
          (click)="toggleCompleteness()"
          [disabled]="$.updatingTicket">
        Completed
      </button>
    </div>

    <div class="mv assignee">
      <ng-container *ngIf="!$.users?.length else usersList">
        <div *ngIf="$.user">{{$.user.name}}</div>
        <div *ngIf="!$.user && !$.loadingUser">Not assigned</div>
        <div *ngIf="!$.user && $.loadingUser">...</div>
        
        <button type="button" class="ml" (click)="loadUsers()" [disabled]="$.loadingUsers">Change</button>
      </ng-container>

      <ng-template #usersList>
        <select [attr.value]="$.ticket.assigneeId" #assignee [disabled]="$.loadingUsers">
          <option *ngFor="let user of $.users" [attr.value]="user.id">{{user.name}}</option>
        </select>
        <button
            type="button"
            class="ml"
            (click)="assignUser(assignee.value)"
            [disabled]="$.loadingUsers || $.updatingTicket">
          Assign
        </button>
      </ng-template>
    </div>
  </ng-container>

  <ng-template #loading>
    <div *ngIf="$.loadingTicket" class="mv">...(imagine a spinner here)</div>
  </ng-template>
</div>

<div class="mv">
  <a [routerLink]="['/']" class="pointer">Back</a>
</div>
